@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --white-color: #fff;
    --black-color: #000000;

    --yellow: #fcc434;
    --yellow-800: #261d08;

    --gray-300: #1a1a1a;
    --gray-200: #434343;
    --gray-100: #3a3a3a;
    --gray-50: #adadad;

    --delete-color: #e26456;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.app {
    background-color: var(--black-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    padding-bottom: 50px;
}

.header {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 60px;
    font-weight: 700;
    color: var(--yellow);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
    height: auto;
    background-color: var(--gray-300);
    border-radius: 30px;
    padding: 30px;
    border: 1px solid var(--yellow);
    text-decoration: none;
}

.form {
    position: relative;
    margin: auto;
}

.toggle-icon::before {
    content: '\ea4e';
    font-family: 'remixicon';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: #9495A5;
    cursor: pointer;
}

.all-completed::before {
    color: var(--gray-200);
}

.completed {
    text-decoration: line-through;
    color: var(--gray-50);
}

.input {
    font-family: "Poppins", sans-serif;
    width: 600px;
    font-size: 20px;
    padding: 20px 50px;
    align-items: center;
    background-color: var(--white-color);
    color: var(--black-color);
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.list {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-top: 20px;
}

.custom-checkbox {
    margin-top: 5px;
    align-self: center;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    outline: none;
    border: 1px solid var(--white-color);
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

.custom-checkbox:checked {
    border-color: var(--yellow);
}
.custom-checkbox:checked::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 7px;
    top: 7px;
    left: 7.25px;
    border-bottom: 2px solid var(--yellow);
    border-left: 2px solid var(--yellow);
    transform: rotate(-45deg);
}

.todo-text {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: var(--gray-200);
    color: var(--white-color);
    border-radius: 20px;
    padding: 15px;
    width: 600px;
    transition: all 0.3s ease;
    min-height: 60px;
    height: auto;
}

.todo-wrap {
    position: relative;
    display: flex;
    gap: 20px;
    align-items: flex-start;
    flex: 1;
}

.todo-text:hover {
    background-color: var(--gray-100);
}

.todo-text:hover .ri-delete-bin-line {
    display: block;
}

.ri-delete-bin-line {
    margin-right: 10px;
    transition: all 0.3s ease;
    display: none;
    align-self: center;
    flex-shrink: 0;
    z-index: 1;
    cursor: pointer;
}
.ri-delete-bin-line:hover {
    color: var(--delete-color);
}


.todo-value {
    position: relative;
    display: block;
    left: 0;
    width: 470px;
    padding: 0;
    min-height: 30px;
    height: auto;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.edit-input {
    font-size: 16px;
    outline: none;
    border: none;
    background-color: transparent;
    color: var(--white-color);
    z-index: 1;
}

.todo-filters {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}

.todo-count {
    color: var(--white-color);
    font-size: 15px;
}

.all-tab,
.active-tab,
.completed-tab {
    color: var(--yellow);
    background-color: var(--yellow-800);
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.active {
    border: 1px solid var(--yellow);
}

.clear-all {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--white-color);
    cursor: pointer;
    transition: all 0.3s ease;
}

.clear-all:hover {
    color: var(--delete-color);
}

.todo-filters-btns {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    gap: 10px;
}

.all-tab:hover,
.active-tab:hover,
.completed-tab:hover {
    background-color: var(--yellow);
    color: var(--black-color);
    scale: 1.05;
}
